html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

.babbaEngine {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 767px) {
    article {
        column-count: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    article {
        column-count: 2;
    }
}

@media only screen and (max-width: 979px) {
    .profileBabba {
        display: none;
    }
}

@media only screen and (min-width: 980px) {
    article {
        column-count: 4;
    }
    .babbaEngine {
        width: 50%;
    }
    .profileBabba {
        max-inline-size: 50%;
        block-size: auto;
        aspect-ratio: 2/1;
        object-fit: contain;
        object-position: center;
    }
    .picture {
        display: flex;
        flex-direction: row;
        background: #333333;
    }
}
